---
layout: default
title: Cookbook
---

<body>

  <h2>Cookbook</h2>

  <details>
    <summary><h3 style="display: inline-block;">Breakfast</h3></summary>
    <ul>
      {% for breakfast in site.breakfast %}
      <li>
        <p><a href="{{ breakfast.url }}">{{ breakfast.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary><h3 style="display: inline-block;">Lunch</h3></summary>
    <ul>
      {% for lunch in site.lunch %}
      <li>
        <p><a href="{{ lunch.url }}">{{ lunch.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary><h3 style="display: inline-block;">Dinner</h3></summary>
    <ul>
      {% for dinner in site.dinner %}
      <li>
        <p><a href="{{ dinner.url }}">{{ dinner.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary><h3 style="display: inline-block;">Sides</h3></summary>
    <ul>
      {% for sides in site.sides %}
      <li>
        <p><a href="{{ sides.url }}">{{ sides.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary><h3 style="display: inline-block;">Desserts</h3></summary>
    <ul>
      {% for desserts in site.desserts %}
      <li>
        <p></p><a href="{{ desserts.url }}">{{ desserts.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary><h3 style="display: inline-block;">Drinks</h3></summary>
    <ul>
      {% for drinks in site.drinks %}
      <li>
        <p><a href="{{ drinks.url }}">{{ drinks.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

</body>