---
layout: default
title: Cookbook
---

<body>

  <h2>Cookbook</h2>

  <h3> Breakfast </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for breakfast in site.breakfast %}
      <li>
        <p><a href="{{ breakfast.url }}">{{ breakfast.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <h3> Lunch </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for lunch in site.lunch %}
      <li>
        <p><a href="{{ lunch.url }}">{{ lunch.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <h3> Dinner </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for dinner in site.dinner %}
      <li>
        <p><a href="{{ dinner.url }}">{{ dinner.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <h3> Sides </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for sides in site.sides %}
      <li>
        <p><a href="{{ sides.url }}">{{ sides.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <h3> Desserts </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for desserts in site.desserts %}
      <li>
        <p></p><a href="{{ desserts.url }}">{{ desserts.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

  <h3> Drinks </h3>

  <details>
    <summary>Expand</summary>
    <ul>
      {% for drinks in site.drinks %}
      <li>
        <p><a href="{{ drinks.url }}">{{ drinks.name }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </details>

</body>