// Primary stylesheet; imported from assets/css/styles.scss

// Color pallete
// https://coolors.co/9bc995-ffb86f-986c6a-465c69-2d3047

/* unvisited link */
a:link {
  color: #465C69;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #465C69;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #2D3047;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #465C69;
  text-decoration: underline;
}

body {
  background-color: #9BC995;
  color: #2D3047;
  font-family: 'Courier New';
  line-height: 1.5;
  padding: 1%;
}

footer {
  background-color: #9BC995;
  color: #2D3047;
  font-family: 'Courier New';
  padding: 2px;
  // position: relative;
  // left: 0; // Positions footer relative to left
  text-align: center;
  width: 100%;
}

header {
  color: #2D3047;
  font-size: 300%;
  font-family: 'Courier New';
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}

h1 {
  color: #986C6A;
  font-family: 'Courier New';
}

h2 {
  color: #465C69;
  font-family: 'Courier New';
}

nav {
  font-family: 'Courier New';
  font-size: 300%;
  // padding: 5px;
  display:flex;
  justify-content:center;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color:#2D3047;
  padding: 10px;
}

table {
  width: 100%;
}

th {
  background-color: #986C6A;
  color: #FFB86F;
  text-align: left;
}

// tr {
// }

.button {
  /* https://www.w3schools.com/css/css3_buttons.asp */
  // border: none;

  font-family: 'Courier New';
  font-size: 250%;
  text-decoration: none; // removes underline
}

.container {
  align-items: center;
  display: flex;
  // position: relative;
}

.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 55%;
}

.left {
  left: 5%;
  position: absolute;
  top: 50%;
}

.right {
  position: absolute;
  top: 50%;
  right: 5%;
}