// Primary stylesheet; imported from assets/css/styles.scss

// Color pallete
// https://www.w3schools.com/colors/colors_palettes.asp
// HEX: #b9936c Dark brown
// HEX: #dac292 Light brown 
// HEX: #e6e2d3 Light grey // Background color only
// HEX: #c4b7a6 Dark grey

/* unvisited link */
a:link {
  color: #b9936c;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #b9936c;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #b9936c;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #c4b7a6;
  text-decoration: underline;
}

body {
  background-color: #e6e2d3;
  font-family: 'Courier New';
  line-height: 1.5;
  padding: 1%;
}

footer {
  background-color: #e6e2d3;
  color: #b9936c;
  font-family: 'Courier New', monospace;
  left: 0; // Positions footer relative to left
  padding: 2%;
  position: relative;
  text-align: center;
  width: 100%;
}

header {
  color: #b9936c;
  font-size: 300%;
  font-family: 'Brush Script MT', cursive;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}

h1 {
  color: #b9936c;
  font-family: 'Brush Script MT', cursive;
}

h2 {
  color: #b9936c;
  font-family: 'Brush Script MT', cursive;
}

nav {
  font-family: 'Brush Script MT', cursive;
  font-size: 200%;
  padding: 1%;
  display:flex;
  justify-content:center;
}

table,
th,
td {
  border: 1px solid;
  padding: 3px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

tr {
  background-color: #e6e2d3;
}

th {
  background-color: #c4b7a6;
  color: #e6e2d3;
  border: #c4b7a6;
}

ul { // Used for nav styling
  list-style-type: none;
}

.button {
  /* https://www.w3schools.com/css/css3_buttons.asp */
  border: none;
  border-radius: 10px;
  font-family: 'Brush Script MT', cursive;
  font-size: 250%;
  text-decoration: none; // removes underline
}

.container {
  align-items: center;
  display: flex;
  position: relative;
}

.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 55%;
}

.left {
  left: 5%;
  position: absolute;
  top: 50%;
}

.right {
  position: absolute;
  top: 50%;
  right: 5%;
}